<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
  <link rel="stylesheet" href="../css/styles.css" />
  <title>IGDB</title>
</head>

<body>
    <div id="app">
    
        <section class="hero is-dark is-fullheight">

            <!-- Hero head: will stick at the top -->
            <div class="hero-head">
                <div class="content has-text-centered">
                    <img src="../assets/IGDB_image.png" alt="IGDB Logo" width="250" height="150"> 
                </div>
            </div>
            <input type="text" id="myInput" v-model="characterSearch" onkeyup="findMatch(characterSearch)" placeholder="Search characters.." title="Type in a name">

            <!-- <ul id="myUL">
              <li><a href="#">Link</a></li>
              <li><a href="#">Snake</a></li>
            
              <li><a href="#">Mario</a></li>
              <li><a href="#">Luigi</a></li>
            
              <li><a href="#">Kirby</a></li>
              <li><a href="#">Snake</a></li>
              <li><a href="#">Dante</a></li>
            </ul> -->

                <!-- Hero content: will be in the middle -->
                <div class="hero-body">

                    <!-- creates the area for the boxes -->
                    <div class="tile is-ancestor">

                        <!-- creates box on the left side -->
                        <div class="leftbox">
                            <div class="tile is-vertical is-parent">
                                <div class="tile is-child box">

                                    <div class="vertical-menu">
                                        <div class="section"> 
                                            <a class="button" v-on:click="listChoice = 'Ratings'; fetchRankings()" v-model="listChoice">
                                                <label>Ratings</label>
                                            </a>
                                            <br>
                                            <a class="button" v-on:click="listChoice = 'Characters'; fetchCharacters()" v-model="listChoice">
                                                <label>Characters</label>
                                            </a>
                                        </div>
                                    </div>
                       
                                    <!-- <a class="button" v-on:click="listChoice = 'Ratings'" v-model="listChoice">
                                        <label>Ratings</label>
                                    </a> 
                                    <br>
                                    <a class="button" v-on:click="listChoice = 'Characters'" v-model="listChoice">
                                    <label>Characters</label>
                                    </a> -->

                                </div>
                            </div>
                        </div>
                        
                        <!-- creates box on the right side -->
                        <div class="rightbox"  v-if="listChoice">
                            <div class="tile is-parent is-12">
                                <div class="tile is-child box">

                                        <div class="level-right">
                                            <div class="content infocon">
                                                <div class="section">
                                                    <div class="level-item">
                                                        <span>{{ listChoice }}</span>
                                                    </div>
                                                    <article v-if="listChoice === 'Characters'" class="media" 
                                                        v-for="character in characters" >
                                                        <character-component
                                                            v-bind:character="character">
                                                        </character-component>
                                                    </article>
                                                    <article v-if="listChoice === 'Ratings'" v-for="character in rankings" >
                                                        <ranking-component
                                                            v-bind:character="character">
                                                        </ranking-component>
                                                    </article>
                                                </div>
                                            </div>
                                        </div> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                <!-- Hero footer: will stick at the bottom -->
                <div class="hero-foot">
                    <nav class="tabs is-boxed is-fullwidth">
                    <div class="container">
                        <div class="content has-text-centered">
                            <p>
                                Copyright &copy; <strong>CSULA 4220 Team</strong>
                            </p>
                        </div>
                    </div>
                    </nav>
                </div>
        </section>
	
  </div>

  
   <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</body>

</html>